* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background: #F5F8FA;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

a:hover {
    text-decoration: none;
    color: black;
}

ol,
ul {
    list-style-type: none;
}


/***** header *******/

header .header-top {
    background: #F5F8FA;
    border-bottom: 2px solid #cbd6e2;
    line-height: 80px;
    height: 80px;
}

header .header-top .container .col-lg-6:first-child div {
    display: inline-block;
}

header .container .col-lg-6:last-child .box-right {
    float: right;
}

header .container .col-lg-6:last-child .box-left {
    float: left;
}

header .container .col-lg-6:first-child .box-left ul li a {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
}

header .container .col-lg-6:first-child .box-left p {
    margin-right: 15px;
    margin-left: 15px;
    color: #33475B;
    font-weight: bold;
}

header .container .col-lg-6:first-child .box-left p:first-child span {
    padding-right: 10px;
    padding-left: 5px;
}

header .container .col-lg-6:first-child .box-left p:first-child span {
    padding-right: 10px;
    padding-left: 5px;
}

header .container .col-lg-6:first-child .box-left .box-text-1 {
    border-right: 1px solid #CBD6E2;
    height: 30px;
    line-height: 30px;
}

header .container .col-lg-6:first-child .box-left ul li:first-child {
    border-right: 2px solid #cbd6e2;
}

header .container .col-lg-6:last-child .box-right .fa-search {
    color: #5CBFD2;
}

header .container .col-lg-6:last-child .box-right .btn-header-top-right-1 {
    border: 1px solid #ffbcac;
    border-radius: 3px;
    background: white;
    color: #ffbcac;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
}

header .container .col-lg-6:last-child .box-right .btn-header-top-right-1:hover {
    background-color: #fff1ee;
    color: #ff7a59;
}

header .container .col-lg-6:last-child .box-right .btn-header-top-right-2 {
    border: 1px solid #ffbcac;
    border-radius: 3px;
    background: #FF7A5A;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
}

header .container .col-lg-6:last-child .box-right .btn-header-top-right-2:hover {
    background-color: #fff1ee;
    color: #ff7a59;
}

header .header-bottom {
    line-height: 80px;
    height: 80px;
    background: white;
}

header .header-bottom .container .col-lg-4:first-child .nav-left .logo img {
    margin-left: 15px;
}

header .header-bottom .container .col-lg-8:last-child .nav-right .menu {
    text-align: right;
}

header .header-bottom .container .col-lg-8:last-child .nav-right .menu ul li a {
    margin-left: 30px;
    color: #33475B;
    font-weight: bold;
}

header .header-bottom .container .col-lg-8:last-child .nav-right .menu ul li a:after {
    font-family: 'FontAwesome';
    content: '\f0d7';
    margin-left: 6px;
}

header .header-bottom .container .col-lg-8:last-child .nav-right .menu ul li a:nth-child(2):after {
    display: none;
}


/******** fine header ************/


/*==============MAIN CONTENT===============*/


/*****promo bar ******/

main #promobar {
    background: #425B76;
    color: white;
    padding: 15px;
}

main #promobar .col-lg-12 p {
    padding: 0 40px;
    font-size: 18px;
    font-weight: 400;
}

main #promobar .col-lg-12 a {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}


/***** fine promo bar******/

main #jumbo .jumbotron {
    background: #FEF4EE;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    margin-bottom: 100px;
}

main #jumbo .jumbotron .col-lg-5 .btn-jumbo {
    text-align: center;
    border-radius: 3px;
    display: inline-block;
    font-weight: 600;
    background-color: #ff7a59;
    color: #fff;
    padding: 1.411em 2em 1.211em;
    font-size: 1.0625rem;
    margin-bottom: 20px;
}

main #jumbo .jumbotron .col-lg-5 .btn-jumbo:hover {
    background-color: #ffbcac;
    color: #fff
}

main #jumbo .jumbotron .col-lg-5 h1 {
    font-size: 50px;
    line-height: 1.30435em;
    font-weight: 900;
    color: #33475B;
    margin-bottom: 20px;
}

main #jumbo .jumbotron .col-lg-5 p.lead {
    font-size: 16px;
}

main #jumbo .jumbotron .col-lg-5 p:last-child {
    font-size: 12px;
}


/********* fine jumbo *******/


/********* products *******/

main #products .container .col-lg-4 {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    max-width: calc(33.3% - 20px);
    padding: 0 30px;
    padding-bottom: 25px;
    margin-bottom: 20px;
}

main #products .container .col-lg-4:first-child h2 {
    font-size: 35px;
    line-height: 1.30435em;
    font-weight: 900;
    color: #33475B;
    margin-bottom: 20px;
}

main #products .container .card {
    background: white;
}

main #products .container .card:hover {
    background: white;
    box-shadow: 0 10px 50px -5px rgba(51, 71, 91, 0.12);
    transform: scale(1.014);
    transition: 1s;
}

main #products .container .card .header-card {
    margin-top: 48px;
}

main #products .container .card h4 {
    font-size: 24px;
    font-weight: 700;
    color: #33475B;
    margin-bottom: 30px;
    margin-left: 10px;
    display: inline-block;
}

main #products .container .card .fa-circle-notch:before {
    font-size: 25px;
}

main #products .container .card .body-card p {
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    font-size: 13px;
    border-top: 1px solid rgba(153, 172, 194, 0.2);
    padding-top: 2em;
}

main #products .container .card .body-card ul li a:before {
    font-family: 'FontAwesome';
    content: '\f058';
    margin-right: 6px;
    color: #ff7a5a;
}

main #products .container .card .body-card ul li a {
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: 500;
}

main #products .container .card .body-card a.btn-card {
    text-align: center;
    border-radius: .1875rem;
    transition: .3s ease-in-out;
    display: inline-block;
    font-weight: 600;
    background-color: #ff7a59;
    color: #fff;
    padding: .9em 1.388em .6em;
    font-size: 13px;
    width: 100%;
}

main #products .container .card .new {
    position: absolute;
    padding: 0 10px;
    right: 0;
    top: 15px;
    background: #00bda5;
    color: white;
    font-weight: bold;
    font-size: 11px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: translate(5px, 10px)
}


/********* fine products *******/


/********* community hero *******/

main #hero {
    background-image: linear-gradient(45deg, #00a4bd, #00bda5);
    color: white;
    margin-top: 80px;
    padding-bottom: 90px;
}

main #hero .container .col-lg-8 h2 {
    font-size: 32px;
    padding-top: 100px;
    font-weight: bold;
    text-align: center;
}

main #hero .container .col-lg-8 p {
    font-size: 18px;
    padding: 10px;
    text-align: center;
    margin-bottom: 50px;
}

main #hero .container .col-lg-3 {
    text-align: center;
    padding: 20px;
    position: relative;
}

main #hero .container .col-lg-3 h2 {
    font-weight: bold;
    margin-top: 10px;
    font-size: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

main #hero .container .col-lg-3 h2:after {
    content: '+';
    font-size: 22px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

main #hero .container .col-lg-3:nth-child(-n+5) {
    border-bottom: 1px solid #fff;
}

main #hero .container .col-lg-3:nth-child(-n+4) {
    border-right: 1px solid #fff;
}

main #hero .container .col-lg-3:nth-child(n+6) {
    border-right: 1px solid #fff;
}

main #hero .container .col-lg-3:last-child {
    border-right: none;
}